@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,600,700,900');

/* Variable */
:root {
    --cardColor: #6EB6FF;
}

/* Background */
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, #383d95, #040d30 90%) no-repeat #383d95;
    min-height: 100%;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
    border: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

#layers {
    height: 200px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

#layers .layer {
    background-size: auto 100%;
    background-position: 50% 0;
    background-repeat: repeat-x;
    height: 200px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(0, 0, 0);
    width: 200vw;
}

@keyframes twinkle {
    from {
        opacity: .3;
    }

    to {
        opacity: 1;
    }
}

@keyframes layer-1 {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-689px, 0, 0);
    }
}

#layers .layer:nth-child(1) {
    animation: twinkle 10s ease-in -5s infinite alternate, layer-1 344s linear infinite;
    background-image: url('../assets/stars_1.png');
}

@keyframes layer-2 {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-699px, 0, 0);
    }
}

#layers .layer:nth-child(2) {
    animation: twinkle 3s ease-in -3s infinite alternate, layer-2 349s linear infinite;
    background-image: url('../assets/stars_2.png');
}

@keyframes layer-3 {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-699px, 0, 0);
    }
}

#layers .layer:nth-child(3) {
    animation: twinkle 3.5s ease-in infinite alternate, layer-3 349s linear infinite;
    background-image: url('../assets/stars_3.png');
}

@keyframes layer-4 {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-480px, 0, 0);
    }
}

#layers .layer:nth-child(4) {
    animation: twinkle 4s ease-in -2s infinite alternate, layer-4 240s linear infinite;
    background-image: url('../assets/stars_4.png');
}

@keyframes layer-5 {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-486px, 0, 0);
    }
}

#layers .layer:nth-child(5) {
    animation: twinkle 5.5s ease-in infinite alternate, layer-5 243s linear infinite;
    background-image: url('../assets/stars_5.png');
}

@keyframes shooting-star {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    25% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(-270px, 180px, 0);
    }
}

#layers:before {
    animation: 500ms linear 3s shooting-star;
    background-image: url('../assets/Shooting_Star.png');
    background-size: 72px 50px;
    content: ' ';
    height: 50px;
    left: 80%;
    position: absolute;
    top: -50px;
    width: 72px;
    z-index: 100;
}

/* Input */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#input {
    color: white;
    text-transform: uppercase;
    opacity: 0;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 2vw;
    text-align: center;
    transition: all 1s ease;
}

::-webkit-input-placeholder {
    font-size: 1em;
    opacity: 0.5;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: white;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: all 0.4s ease;
}

#card {
    background: var(--cardColor);
    box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.4);
    padding: 8px;
    width: 36px;
    border-radius: 50%;
    /*margin-top: 200px;*/
}

#card {
    transition: all 0.5s ease;
    animation: bounce 1s ease-in-out forwards, wrap 0.4s 1s ease-in-out forwards;
}

#server {
    background: var(--cardColor);
    box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.4);
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 2vw;
    outline: none;
    opacity: 0;
    animation: visible 1.3s 1s ease-in-out forwards;
}

#input {
    animation: visible 1.3s 1s ease-in-out forwards;
}

@keyframes bounce {

    0%,
    40%,
    60%,
    100% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes wrap {
    from {
        width: 36px;
        border-radius: 50%;
    }

    to {
        min-width: 220px;
        width: 45%;
        border-radius: 0%;
    }
}

@keyframes visible {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Form */
.t--label {
    font: normal normal 500 14px/2 "Roboto", sans-serif;
    color: #777;
}

.t--input {
    font: normal normal 500 18px/1 "Roboto", sans-serif;
    color: #000;
}

::-webkit-input-placeholder {
    color: #000;
}

::-moz-placeholder {
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}

.the-form .form__item {
    padding: 5px 10px;
    transition: background-color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.the-form .form__label {
    display: block;
}

.the-form {
    display: none;
    border: 1px solid #ccc;
    background: var(--cardColor);
    margin: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}

.the-form .form__input {
    display: block;
    width: 100%;
    height: 32px;
    border: 0;
    padding: 0;
    margin: 0;
    text-indent: 0;
    text-align: center;
    background-color: transparent;
}

.the-form textarea.form__input {
    margin-top: 5px;
    height: auto;
    resize: vertical;
}

.the-form .form__item {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.the-form .grid__segment:last-of-type .form__item {
    border-bottom: 0;
}

@media only screen and (min-width: 600px) {

    .the-form .grid__segment:nth-of-type(1) .form__item,
    .the-form .grid__segment:nth-of-type(2) .form__item,
    .the-form .grid__segment:nth-of-type(5) .form__item {
        border-right: 1px solid #ccc;
    }
}

.grid {
    display: block;
    font-size: 0;
}

.grid .grid__segment {
    display: inline-block;
    vertical-align: top;
}

.grid .grid__segment.w--33,
.grid .grid__segment.w--50,
.grid .grid__segment.w--100 {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    .grid .grid__segment.w--33,
    .grid .grid__segment.w--33.w--100 {
        width: 33.3333333333%;
    }
}

.form__item.is--focused {
    background-color: #eee;
}

.form__item.is--valid {
    box-shadow: inset 0 0 0 1px #00cc22;
    background-color: rgba(0, 204, 34, 0.125);
}

.form__item.is--valid .form__label,
.form__item.is--valid .form__input {
    color: #00cc22;
}

.form__item.is--invalid {
    box-shadow: inset 0 0 0 1px #ff0055;
    background-color: rgba(255, 0, 85, 0.125);
}

.form__item.is--invalid .form__label,
.form__item.is--invalid .form__input {
    color: #ff0055;
}